# flyctl launch added from .gitignore
**/node_modules
**/.env
**/data/discord_filtered.json
**/data/discord.json
**/data/message_history.json
**/data/task_tracker_logs.json
**/data/tasks.json
fly.toml
